page-producto {

  ion-content{
    background: url('../assets/imgs/fondo.jpg') no-repeat center;
    // background: url('../assets/imgs/Fondo-pantalla-3.jpg') no-repeat center;
  }
  .monto {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000;
  }

  .form_pago {
    float: left;
    width: 100%;

      .label {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 5px;
        text-align: left;
        color: #eee;
        padding-left: 15px !important;
      }

      .input_pago {
        background: #d4d4d4;
        border-radius: 5px;
        padding: 0 10px; 
      }

      .input_pago.ng-invalid.ng-touched {
        border: 1px #ddd;
      }

      .btn_container {
        float: left;
        width: 100%;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;

          .btn_pago {
            float: left;
            width: 100%;
            background: 424242;
            color: #ddd;
            font-size: 16px;
            font-weight: bold;
            font-family: $source;
          }
      }
  }

  p {
    font-size: 18px;
    font-weight: normal;
    font-family: $source;
    float: left;
    width: 100%;
    text-align: center;
  }

  .item-block {
    padding: 10px !important;
    background: transparent;

    .label {
      margin: 0 !important;
    }
  }

  .line_separator {
    margin: 10px 0;
    float: left;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background: #424242;
  }

  .contianer_buttonsshared {
    float: left;
    width: 100%;
    margin-top: 5px;

      h2 {
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        color: #000;
        font-size: 25px;
        font-weight: normal;
        text-align: center
      }

      .ico-shared {
        float: left;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        border-radius: 10px !important;
      }

      .ico_whats {
        background: url('../../assets/imgs/ico-whats.svg') no-repeat center;
        background-size: cover;
      }

      .ico_face {
        background: url('../../assets/imgs/ico-face.svg') no-repeat center;
        background-size: cover;
      }

      .ico_sms {
        background: url('../../assets/imgs/ico-sms.svg') no-repeat center;
        background-size: cover;
      }

      .ico_mail {
        background: url('../../assets/imgs/ico-correo.svg') no-repeat center;
        background-size: cover;
      }

      .ico_messenger {
        background: url('../../assets/imgs/ico-messenge.svg') no-repeat center;
        background-size: cover;
      }

      .ico_shared {
        background: url('../../assets/imgs/ico-compartir.svg') no-repeat center;
        background-size: cover;
      }
  }

  .transaccion_container {
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-height: 650px) {
      height: calc(100vh - 30vh);
    }

      h1 {
        float: left;
        width: 100%;
        text-align: center;
      }

      .btn_container {
        float: left;
        width: 100%;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;

          .btn_pago {
            float: left;
            width: 75%;
            background: #424242 !important;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            font-family: $source;
          }
      }
  }

  .container_scan {
    float: left;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

      p {
        float: left;
        width: 100%;
        text-align: center;
        color: #999;
        font-size: 18px;
      }

      .btn_nuevo {
        float: left;
        width: 40%;
        background: linear-gradient(90deg,#5477f0 0%,#6c64ee);
        color: #fff;
        font-size: 15px;
        height: 40px;
        border-radius: 5px;
      }

      .btn_scan {
        float: left;
        width: 70%;
        background: #757575  ;
        color: #fff;
        font-size: 18px;
        height: 50px;
        border-radius: 5px;
        text-align: center;
        padding: 12px;
      }
  }

  .container_selet {
    padding: 0;

      ion-label {
        margin: 0;
      }

      ion-select {
        width: 100%;
        max-width: 100%;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
      }
  }

  .list_clientesnpos {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px dashed #999;
    max-height: 225px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 2px;
      background-color: #ccc;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: linear-gradient(to right, #5477f0 0%, #6c64ee 100%);
    }

    .border_item {
      padding: 10px 0;
      border-bottom: 1px dashed #999;
    }

    .btn_scliente {
      float: left;
      width: 100%;
      background: linear-gradient(to right, #5477f0 0%, #6c64ee 100%);
      color: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 15px;
      padding: 5px;

        &:hover {
          background: linear-gradient(to right, #ff6e64 0%, #ff9951 100%);
        }
    }

    p {
      font-size: 14px;
      color: #000;
      font-weight: 400;
      margin: 0;
    }
  }
}

.container_box {
  float: left;
  width: 100%;
  padding: 0;
  position: relative;
  top: -35px;
}

.box_nuevo_producto {
  margin-top: 10%;
  float: left;
  width: 100%;
  background: #424242;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 5px;

    h1 {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 25px;
      color: #fff;
    }

    p {
      float: left;
      width: 100%;
      color: #707070;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 3px;
    }

    p.sub_titulo {
      float: left;
      width: 100%;
      color: #707070;
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      letter-spacing: 0.03em;
      text-align: center;
    }
}

item-ios{
  background-color: transparent !important;
}