modal-image {

  .toolbar-title {
    color: #fff;
  }

  .ico_cerrar {
    float: left;
    width: 50px;
    height: 35px;
    background: url('../../../assets/imgs/ico-cerrar.svg') no-repeat center;
    background-size: 45%;
    position: relative;
    left: 85%;
  }

  .ico_foto {
    float: left;
    width: 100%;
    height: 45px;
    background: url('../../assets/imgs/ico-foto.svg') no-repeat center;
    background-size: 40%;
  }

  .ico_subir {
    float: left;
    width: 100%;
    height: 45px;
    background: url('../../assets/imgs/ico-galeria.svg') no-repeat center;
    background-size: 30%;
  }

  .img_preview {
    float: left;
    width: 100%;
    height: 225px;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .center_button {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn_cancelimg {
    float: left;
    width: 80%;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    background: linear-gradient(90deg,#ff6e64 0%,#ff9951) !important;
  }

  .btn_registroc {
    float: left;
    width: 80%;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    background: linear-gradient(90deg,#5477f0 0%,#6c64ee) !important;
  }
}
